<div class="div-logo">

  <div>
    <img src="./assets/images/letter-s.png" alt="logo">
  </div>
  <div>
    <p>Shopéame!</p>
  </div>

</div>
<nav class="navigator">
  <div class="navigator__item">
    <a routerLink=""><img src="./assets/images/radiation.png" alt=""></a>
    <a routerLink="">Home</a>

  </div>
  <div class="navigator__item">
    <a routerLink="/products"><img src="./assets/images/prismaticos.png" alt=""></a>
    <a routerLink="/products">Productos</a>

  </div>
  <div class="navigator__item">
    <a routerLink="/gestion"><img src="./assets/images/volante.png" alt=""></a>
    <a routerLink="/gestion">Gestión</a>

  </div>



</nav>
