
<article class = "cart">

  <div class = "title-contain">
  <h1 class = title> Bienvenido a shopéame</h1>
 </div>

 <div class = "cart-contain">


<h3>¿Qué es Shopéame?</h3><br>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error dolore doloribus officiis porro fugiat nihil eos iste,
   accusantium quae, voluptatem totam, sapiente quibusdam repellendus placeat recusandae esse provident. Suscipit, tenetur.
   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error dolore doloribus officiis porro fugiat nihil eos iste,
   accusantium quae, voluptatem totam, sapiente quibusdam repellendus placeat recusandae esse provident. Suscipit, tenetur
   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error dolore doloribus officiis porro fugiat nihil eos iste,
   accusantium quae, voluptatem totam, sapiente quibusdam repellendus placeat recusandae esse provident. Suscipit, tenetur..</p><br>

   <h3>¿Para qué puedo usar Shopéame?</h3><br>
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error dolore doloribus officiis porro fugiat nihil eos iste,
    accusantium quae, voluptatem totam, sapiente quibusdam repellendus placeat recusandae esse provident. Suscipit, tenetur
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error dolore doloribus officiis porro fugiat nihil eos iste,
    accusantium quae, voluptatem totam, sapiente quibusdam repellendus placeat recusandae esse provident. Suscipit, tenetur..</p><br>


<h3>¿Quienes hacemos Shopéame?</h3><br>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error dolore doloribus officiis porro fugiat nihil eos iste,
  accusantium quae, voluptatem totam, sapiente quibusdam repellendus placeat recusandae esse provident. Suscipit, tenetur.
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error dolore doloribus officiis porro fugiat nihil eos iste,
  accusantium quae, voluptatem totam, sapiente quibusdam repellendus placeat recusandae esse provident. Suscipit, tenetur
  Lorem, ipsum dolor sit amet consectetur adipisicing elit.r..</p><br>

  <h3>¿Es seguro usar Shopéame?</h3><br><br>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error dolore doloribus officiis porro fugiat nihil eos iste,
    accusantium quae, voluptatem totam, sapiente quibusdam repellendus placeat recusandae esse provident. Suscipit, tenetur.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error dolore doloribus officiis porro fugiat nihil eos iste,
    accusantium quae, voluptatem totam, sapiente quibusdam repellendus placeat recusandae esse provident. Suscipit, tenetur
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error dolore doloribus officiis porro fugiat nihil eos iste,
    accusantium quae, voluptatem totam, sapiente quibusdam repellendus placeat recusandae esse provident. Suscipit, tenetur..</p>

    </div><br><br>


</article>
